.list {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.itemName b, .itemLanguage b {
    margin-right: 8px;
}

.itemLink {
    color: var(--corSecundaria);
    background-color: var(--corPrincipal);
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
}